body,
html {
    min-height: 100%;
    padding: 0%;
    margin:0%;
}

img{
    align-self: right;
    width:100%;
}
html {
    background-image: url("media/backg.jpg");
    font-family: Helvetica;
}

nav,footer {
    background: #334;
    padding: 3pt; 
    border: 1pt solid #445;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #eef;
    padding: 3pt;
    border: 1pt solid #445;
}
.anodeco{
    text-decoration: none;
    color:#001;
    font-weight: bold;
}

.fg {
    background-color: #eef8;
    color: #001;
    margin: 10pt;
    padding:2pt;
}

.fg * {
    margin-bottom: 10pt;
}
footer a {
    color: #aaf;
    text-decoration:underline;
}